.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
  font-size: large;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;
  display: inline-block;
  outline: none;
}

.mat-card-avatar {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  cursor: pointer;
}
