<div fxLayout="column" >
 
  <div>
    <mat-toolbar color="primary" class="navbar">

      <div>


        <span routerLink="/home" routerLinkActive="active">    Home</span>    
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
        <span routerLink="/secure" routerLinkActive="active" *ngIf="authService.isAuthenticated()">Secure</span>
      </div>

      <div>
        <span routerLink="/signin" routerLinkActive="active" *ngIf="!authService.isAuthenticated()">Sign in</span>
        <span routerLink="/signup" routerLinkActive="active" *ngIf="!authService.isAuthenticated()">Sign up</span>
        <!-- <img md-fab-image [src]="userInfo.photoUrl"> -->
        <div *ngIf="authService.isAuthenticated()">
          <div mat-card-avatar [style.background-image]="'url('+profilePicPreSignedUrl+')'"  [matMenuTriggerFor]="menu"></div> 
          
<!-- {{profilePicPreSignedUrl}} -->
          <mat-menu #menu="matMenu">
            <button mat-menu-item><span routerLink="/maestro" routerLinkActive="active">Account</span></button>
            <button mat-menu-item><span routerLink="/setting" routerLinkActive="active">Settings</span></button>
            <button mat-menu-item> <span (click)="authService.logout()" routerLinkActive="active">Logout</span></button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>

<!-- <div>
    <app-messanger *ngIf="authService.isAuthenticated()"></app-messanger>
  </div> -->