.example-header-image {
    background-image: url('shttps://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-card {
    max-width: 400px;
  }

  .example-large-box {
    min-height: 100%;
    display: block;
  }