.custom-dropzone {
  /* height: 1000px;
  min-height: 100%; */
  height: auto;
  min-height: 100px;
  min-width: 98%;
  border: 0.2px dashed rgb(88, 88, 88);
  /* background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 0.2px dashed rgb(0, 0, 0);
  border-radius: 0px;
  font-size: 16px;
  font-style: none; */
}

.custom-dropzone:hover {
  border: 0.2px dashed rgb(0, 0, 0);
  font-size: 17px;
}


